<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}News Portal{% endblock %}</title>
    {% load static %}  {# Загрузка тега static #}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
</head>
<body>
    <header>
        <h1>Новости</h1>
        <nav>
            <a href="{% url 'post_list' %}">Список новостей</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
